* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background: bisque;
}

.main {
  width: 222px;
  height: 222px;
  border: 10px solid black;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: white;
  box-shadow: 4px 6px 8px 0 rgb(185, 133, 69);
}

.main .cell {
  width: 25px;
  height: 25px;
  float: left;
}

.main div:nth-child(16n + 16),
.main div:nth-child(16n + 14),
.main div:nth-child(16n + 12),
.main div:nth-child(16n + 10),
.main div:nth-child(16n + 7),
.main div:nth-child(16n + 5),
.main div:nth-child(16n + 3),
.main div:nth-child(16n + 1) {
  background-color: black;
}
